@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 50%;
  max-width: 600px;
  min-width: 400px;
  background-color: #d0e3e5;
}

a {
  text-decoration: none;
  color: #447f84;
}

a:hover,
a:active,
a:focus {
  color: #9dc1c4;
}

.container {
  background-color: white;
  padding: 20px 30px;
  margin: 10px 0;
  border-radius: 25px;
  box-shadow: 5px 5px #246268;
}

h1 {
  text-align: center;
  margin: 0;
}

h3 {
  text-align: center;
}

.tagline {
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 20px;
}
