.title{
  text-align: center;
}

.social{
  width: 20px;
  height: 20px;
}

.social:hover{
  transform: scale(1.2);
}

.copyright{
  text-align: center;
  margin-top: 0px;
}
.logo{
  height: 150px;
}
